:root {
  --white: #ffffff;
  --blue: #2F80ED;
  --hrGray: #DDDDDD;
  --lightGray: #828282;
  --blueTableBorders: rgba(47, 128, 237, 0.3);
  --blackLight: #333333; 
  --blackDark: #050F19;
}

*{
  margin: 0;
}
body{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: var(--blackLight);
}
img{
  user-select: none;
}
h1{
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--blackDark);
}
h1 + p{
  margin-bottom: 40px;
}
h2{
  font-size: 32px;
  font-weight: 400;
  color: var(--blackDark);
}
h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--blackDark);
}
cite{
  font-style: normal;
  font-size: 22px;
}
a{
  text-decoration: none;
}
hr{
  width: 600px;
  margin: 80px auto;
  height: 1px;
  border-radius: 5px;
  border: none;
  opacity: 0.3;
  background-color: var(--blue);
}

nav,#heroTwo, #hContainer, #features, #products, #advantages, #blog, #fContainer{
  max-width: 1200px;
  margin: auto;
}
nav,#heroTwo, #features, #products, #advantages, #blog{
  padding: 0 120px;
}
#ADV, #products, #advantages, #testimonials, #blog{
  text-align: center;
}

header{
  width: 100%;
  margin: auto;
  background-color: rgba(47, 128, 237, 0.1);
}
#hContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 120px;
}
#hStocks{
  display: flex;
  flex-direction: row;
  font-weight: 600;
  gap: 25px;
}
#hStocks div{
  display: flex; 
  gap: 10px;
}
.arrowUp{
  margin-top: -2px;
}
.redText{
  color: rgba(160, 19, 19, 1);
}
.greenText{
  color: rgba(19, 93, 45, 1);
}
.grayText{
  color:rgba(51, 51, 51, 1);
}
@media (max-width: 1360px) {
  #hContainer{
    align-items: baseline;
    gap: 10px;
  }
  #hStocks{
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 850px) {
  #hContainer{
    flex-direction: column;
    padding: 12px 20px;
  }
}
@media (max-width: 480px) {
  #hContainer{
    padding: 12px 30px;
  }
  #hStocks div{
    width: 100%;
    text-align: left;
    gap: 0;
  }
}


#nContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav a {
  font-size: 18px;
  font-weight: 600;
  color: var(--blackDark);
}
#nMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nMenuPages{
  display: flex;
  gap: 40px;
}
#nMenuUser{
  display: flex;
  align-items: center;
  gap: 40px;
}
#hrVertical{
  width: 45px;
  transform:rotate(90deg);
  background-color: var(--hrGray);
  margin: 0 27.5px;
}
@media (max-width: 1200px) {
  nav{
    margin: auto;
    padding: 0 0;
  }
  #nContainer{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  #nMenu{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  #nMenuPages{
    gap: 20px;
    flex-wrap: wrap;
  }
  #nMenuUser{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
  }
  #hrVertical{
    visibility: hidden;
  }
}


#ADV{
  color: var(--white);
  font-weight: 700;
  padding: 12px 20px;
  background-color: var(--blue);
}
#heroTwo{
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-top: 15px;
}
#heroLeft{
  width: 50%;
  padding-right: 116px;
}
#heroRight{
  align-content: center;
  width: 50%;
  padding-right: 60px;
}
#heroRight img{  
  width: 100%;
}
@media (max-width: 1200px) {
  #heroLeft{
    padding-right: 60px;
  }
  #heroRight img{
    width: 100%;
  }
}
@media (max-width: 1000px) {
  #heroLeft{
    padding-right: 30px;
  }
  #heroRight{
    padding-right: 0;
  }
  #heroRight img{
    width: 90%;
  }
}
@media (max-width: 800px) {
  #heroTwo {
    padding: 30px 0;
    flex-direction: column;
  }
  #heroLeft{
    padding-right: 0;
    width: 100%;
  }
  #heroRight{
    margin-top: 20px;
    width: 100%;
  }
  #heroRight img{
    width: 100%;
  }
  hr{
    width: 50%;
  }
}
.btnFillBlue{
  color: var(--white);
  background-color:var(--blue);
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  padding: 14px 44px;
  border: none;
}
#heroBtnIcons{
  margin: 0 0 40px;
  display: flex; /*= align-items:center*/
  flex-wrap: wrap;
  gap: 30px;
}
#heroIcons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.inline{
  display: flex;
  align-items: center;
  gap: 10px;
}
.btnNotFillBlue{
  color: var(--blue);
  background-color:white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 30px;
  border: 1px solid var(--blue);
  margin-right: 10px;
}
@media (max-width: 400px) {
  .inline{
    flex-direction: column;
  }
  #heroBtnIcons{
    row-gap: 20px;
  }
}


#features > :first-child{
  text-align: center;
}
#featuresTwo{
  display: flex; 
  flex-direction: row;
}
#featuresLeft{ 
  width: 50%;
  padding-right: 85px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
#featuresLeft .featureChild {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: 1fr;
  column-gap: 20px;
}
.featureImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
#featuresRight {  
  align-content: center;
  width: 50%;
  padding-right: 60px;
}
#featuresRight img{  
  width: 100%;
}
@media (max-width: 1200px) {
  #featuresLeft{
    padding-right: 60px;
  }
  #featuresRight img{
    width: 100%;
  }
}
@media (max-width: 1000px) {
  #featuresLeft{
    padding-right: 30px;
  }
  #featuresRight{
    padding-right: 0;
  }
  #featuresRight img{
    width: 90%;
  }
}
@media (max-width: 800px) {
  #featuresTwo {
    padding: 30px 0;
    flex-direction: column;
  }
  #featuresLeft{
    padding-right: 0;
    width: 100%;
  }
  #featuresRight{
    margin-top: 50px;
    width: 100%;
  }
  #featuresRight img{
    width: 100%;
  }
}


#products{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
table{
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--blueTableBorders);
}
tr{
  border:1pt solid var(--blueTableBorders);
}
th{
  padding: 12px 0;
  font-weight:400;
  color: var(--lightGray);
}
td{
  padding: 15px 50px;
}
.btnFillYellow{
  color: white;
  background-color:rgba(255, 189, 0, 1);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
}
@media (max-width: 1300px) {
  td{
    padding: 15px 20px;
  }
}
@media (max-width: 1000px) {
  thead {
    clip: rect(0 0 0 0);
    position: absolute;
    border: none;
  }
  table{
    box-shadow: none;
  }
  tr {
    display: block;
    margin-bottom: 50px;
  }
  td {
    border: none;
    border: 1px solid var(--blueTableBorders);
    display: block;
  }
  /*column names in mini tables*/
  table td::before {
    content: attr(data-label);
    color: var(--lightGray);
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  td{
    padding: 15px 0;
  }
}


#advantagesFive{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 112px; 
  row-gap: 45px;
}
.advantageChild{
  max-width: 325px;
}
.advantageChild > h2{
  margin-top: 12px;
}
.advantageChild > p{
  margin-top: 8px;
}
@media (max-width: 1000px) {
  #advantagesFive{
    gap: 20px; 
  }
}


#testimonials{
  max-width: 1284px;
  margin: auto;
  padding: 0 78px;
}
#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#slider{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  gap: 2px;
  padding: 5px;
  overflow-x: auto; 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
figure{
  place-self: center;
  min-height: 130px;
  padding: 30px 20px 15px;
  width: 240px;
  border-radius: 5px;
  box-shadow: 0 0 5px 8px rgba(224, 224, 224, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
cite{
  margin-top: 10px;
}
figure blockquote{
  margin-top: 8px;
}
@media (max-width: 1400px){
  #slider {
    grid-auto-columns: 33%;
    gap:20px;
  }
}
@media (max-width: 1100px){
  #slider {
    grid-auto-columns: 50%;
    gap:0;
  }
}
@media (max-width: 750px){
  #slider {
    grid-auto-columns: 100%;
  }
}
@media (max-width: 450px){
  #slider {
    gap: 50px;
  }
 
}


#blog{
  margin-bottom: 80px;
}
#blogArticles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
article{
  text-align: left;
  min-height: 360px;
  width: 280px;
}
article > img{
  border-radius: 5px;
  max-height: 180px;
  max-width: 280px;
}
article > h2{
  margin: 20px 0 12px;
}
article > p{
  margin-bottom: 12px;
}
.readMore{
  color: var(--blue);
  font-weight: 600;
}


footer{
  background-color: rgba(242, 242, 242, 1);
}
#fContainer{
  padding: 60px 120px;
}
#footerPagesEmail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}
#footerPagesEmail ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}
footer li > a {
  font-size: 16px;
  font-weight: 600;
  color: var(--lightGray);
}
footer p {
  font-weight: 600;
  color: var(--lightGray);
  margin-top: 10px;
}
#subscribeBox{
  max-width: 360px;
}
#emailBox{
  margin-top: 16px;
  max-width: 360px;
  display: flex;
}
footer input{
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 10px 0 10px 12px;
  border-radius: 5px 0 0 5px;
}
footer input::placeholder{
  color: rgba(189, 189, 189, 1);
  font-size: 18px;
  font-weight: 400;
}
footer button{
  color: white ;
  background-color:var(--blue);
  font-weight: 600;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  padding: 10px 30px ;
}
#footerPaymentsApps{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
#footerPaymentsApps div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
#companies{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
footer hr{
  width: 100% !important;
  margin: 30px auto !important;
  border-radius: 1px !important;
  opacity: 100% !important;
  background-color: var(--hrGray) !important;
}
@media (max-width: 1000px) {
  #footerPagesEmail div{
    min-width: 170px;
  }
  #footerPaymentsApps{
    gap: 20px;
  }
  #heroTwo{
    padding: 0 30px;
  }
  #features, #products, #advantages, #testimonials{
    padding: 0 30px;
  }
  #blog{
    padding: 0 30px 0;
  }
  #fContainer{
    padding: 60px 30px;
  }
}